opendcs/
aws-java-sdk.zip
aws-java-sdk-1.12.401/
apache-ant-1.10.3-bin.tar.gz
apache-ant-1.10.3/
.env
lambdas/dcs_data/lambda/node_modules/
lambdas/dcs_data/layer/nodejs/node_modules/

lambdas/dcs_metrics/lambda/node_modules/
lambdas/dcs_metrics/layer/nodejs/node_modules/

lambdas/dcs_logs/lambda/node_modules/
lambdas/dcs_logs/layer/nodejs/node_modules/

lambdas/dcs_api/lambda/node_modules/
lambdas/dcs_api/layer/nodejs/node_modules/

lambdas/grb_data/lambda/node_modules/
lambdas/grb_data/layer/nodejs/node_modules/

*.pem
**/*.zip

gradle*
src/kafka/archive/*
src/kafka/.gradle
src/kafka/build

clients/appsync/node_modules/*
clients/appsync/mypubsub-app/node_modules/*